/*
Colors
*/

:root {
--black: rgba(0, 0, 0, 1);
--dark-gray: rgba(34, 34, 34, 1);
--light-gray: rgba(74, 74, 74, 1);
--green: rgba(75, 200, 0, 1);
--red: rgba(222, 32, 43, 1);
--white: rgba(255, 255, 255, 1);
}

/*
Common rules
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
}

/*
utility
*/

.d-flex {
    display: flex;
}


/*
Main
*/


main {
    height: calc(100vh - 80px);
    background-color: black;

}
.box {
    margin-top: 50px;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}
.view_speaker, .maximize_view {
    color: white;
    background-color: var(--light-gray);
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px 5px;
}

.view_options {
    justify-content: flex-end;

}

.user{
    width: 250px;
    height: 150px;
    background-image: url("https://picsum.photos/250/150");
    position: relative;
}

.name {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.596);
    padding: 5px 5px;
}


/*
Navbar
*/
.navbar {
    height: 80px;
    background-color: var(--dark-gray);
    justify-content: space-between;
}

.navbar span {
    color: var(--white);
    
}

.navbar i {
    font-size: 30px;
    color: var(--white);
    padding-left: 10px;

}



#angle-up {
    font-size: 10px;
}

.menu-left {
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
     
    

    
}


.main-menu {
    justify-content: center;
    align-items: center;
    gap: 20px;


}


.menu-right {
    background-color: var(--light-gray);
    color: var(--red);
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

